@charset "UTF-8";
.ghMFEx {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    background-color: rgb(247, 247, 247);
}



.jleHi {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    position: relative;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
}

.jSdRLs {
    padding-left: 16px;
    padding-right: 16px;
    width: 90%;
}

.jSdRLs {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.gUJnDk {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    position: relative;
}

.ftUnWI {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
}.AaXzP {
    transition: color 0.5s ease 0s;
}

.kHSCgd {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 99999px;
    width: 36px;
    height: 36px;
    border: 0px;
    color: rgb(255, 99, 57);
}

.bDcxtF {
    color: currentcolor;
    height: 1em;
    max-height: 1em;
    min-height: 1em;
    width: 1em;
    max-width: 1em;
    min-width: 1em;
}

gOtDnT {
    height: clamp(312px, 33vw, 440px);
}

.heaQid {
    grid-template-areas:
        "img-0 img-0 img-0 img-0 img-0 img-0 img-1 img-1 img-1 img-1"
        "img-0 img-0 img-0 img-0 img-0 img-0 img-1 img-1 img-1 img-1"
        "img-0 img-0 img-0 img-0 img-0 img-0 img-1 img-1 img-1 img-1"
        "img-0 img-0 img-0 img-0 img-0 img-0 img-2 img-2 img-3 img-3"
        "img-0 img-0 img-0 img-0 img-0 img-0 img-2 img-2 img-3 img-3";
}

.heaQid {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: grid;
    gap: 8px;
    grid-template-areas: "img-0";
}

.jkDQmw {
    display: block;
}

.jkDQmw {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: block;
    grid-area: img-0 / img-0 / img-0 / img-0;
    position: relative;
}

.bXseKf {
    border-radius: 8px;
}

.bXseKf {
    cursor: pointer;
}

.flemKu {
    display: block;
}

.flemKu {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: none;
    grid-area: img-1 / img-1 / img-1 / img-1;
    position: relative;
}

.kKXowV {
    display: block;
}

.kKXowV {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: none;
    grid-area: img-2 / img-2 / img-2 / img-2;
    position: relative;
}

.gQPPwE {
    display: block;
}

.gQPPwE {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: none;
    grid-area: img-3 / img-3 / img-3 / img-3;
    position: relative;
}

dLHHMH {
    background: rgb(255, 255, 255);
    color: rgb(255, 99, 57);
    font-weight: 600;
    font-size: 14px;
    bottom: 16px;
    left: 16px;
    position: absolute;
    border: 0px;
    padding: 8px 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: color 0.5s ease 0s;
}

.emkenC {
    position: relative;
    text-decoration: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    font-weight: normal;
    text-align: center;
    border: 1px solid rgb(143, 142, 135);
    box-sizing: border-box;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 1em;
    border-radius: 22px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: transparent;
    color: rgb(143, 142, 135);
}

.blgBEO {
    color: currentcolor;
    height: 24px;
    max-height: 24px;
    min-height: 24px;
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    margin-right: 8px;
}

*, ::before, ::after {
    box-sizing: border-box;
}
svg {
    width: 1em;
    height: 1em;
    color: currentcolor;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.dLHHMH {
    background: rgb(255, 255, 255);
    color: rgb(255, 99, 57);
    font-weight: 600;
    font-size: 14px;
    bottom: 16px;
    left: 16px;
    position: absolute;
    border: 0px;
    padding: 8px 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: color 0.5s ease 0s;
}

.emkenC {
    position: relative;
    text-decoration: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    font-weight: normal;
    text-align: center;
    border: 1px solid rgb(143, 142, 135);
    box-sizing: border-box;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 1em;
    border-radius: 22px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: transparent;
    color: rgb(143, 142, 135);
}

.gUJnDk {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    position: relative;
}
.eAPsYQ {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
}

.Totgy {
    overflow-wrap: break-word;
}

.fbikcJ {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 16px;
    margin: 12px 0px;
}

.kTPgHe {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: grid;
    gap: 12px;
}

.eYpCVK {
    box-sizing: border-box;
    min-height: 0px;
    display: grid;
    gap: 16px;
    position: relative;
    justify-items: center;
    min-width: auto;
}

.tczAk {
    color: rgb(53, 53, 48);
    font-size: 24px;
    font-family: Inter, helvetica, sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin: 0px 0px 8px;
}

h1 {
    font-size: 41px;
}


h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.ivtkvb {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    font-size: 14px;
}

.eYpCVK {
    box-sizing: border-box;
    min-height: 0px;
    display: grid;
    gap: 16px;
    position: relative;
    justify-items: center;
    min-width: auto;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.iMaSRd {
    -webkit-box-align: center;
    align-items: center;
}

.iMaSRd {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
}
.kQSMSC {
	
    padding: 20px 20%;	
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 9px 0px;
    display: grid;
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr) 100px;
    height: 93px;
    left: 0px;
    padding: 20px;
    position: fixed;
    right: 0px;
    z-index: 500;
}

.ffNQwn {
    color: rgb(53, 53, 48);
    font-size: 24px;
    line-height: 1.25;
    font-family: Inter, helvetica, sans-serif;
    font-weight: bold;
}
.eAPsYQ {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
}

.zUbVY {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-left: 1px solid rgb(217, 217, 217);
    border-top-color: rgb(217, 217, 217);
    border-right-color: rgb(217, 217, 217);
    border-bottom-color: rgb(217, 217, 217);
}

.eyGnqD {
    color: currentcolor;
    height: 24px;
    max-height: 24px;
    min-height: 24px;
    width: 24px;
    max-width: 24px;
    min-width: 24px;
}


.zUbVY {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-left: 1px solid rgb(217, 217, 217);
    border-top-color: rgb(217, 217, 217);
    border-right-color: rgb(217, 217, 217);
    border-bottom-color: rgb(217, 217, 217);
}

.frqAGh {
    color: currentcolor;
    height: 32px;
    max-height: 32px;
    min-height: 32px;
    width: 32px;
    max-width: 32px;
    min-width: 32px;
}

.kGqIFJ {
    border-radius: 8px;
    font-weight: bold;
}

.hWkVbw {
    position: relative;
    text-decoration: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    font-weight: 500;
    text-align: center;
    border: 2px solid transparent;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: rgb(113, 217, 197);
    color: rgb(255, 255, 255);
}

*, ::before, ::after {
    box-sizing: border-box;
}

div {
    display: block;
}


root {
    --PhoneInput-color--focus: #03b2cb;
    --PhoneInputInternationalIconPhone-opacity: 0.8;
    --PhoneInputInternationalIconGlobe-opacity: 0.65;
    --PhoneInputCountrySelect-marginRight: 0.35em;
    --PhoneInputCountrySelectArrow-width: 0.3em;
    --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
    --PhoneInputCountrySelectArrow-borderWidth: 1px;
    --PhoneInputCountrySelectArrow-opacity: 0.45;
    --PhoneInputCountrySelectArrow-color: inherit;
    --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountrySelectArrow-transform: rotate(45deg);
    --PhoneInputCountryFlag-aspectRatio: 1.5;
    --PhoneInputCountryFlag-height: 1em;
    --PhoneInputCountryFlag-borderWidth: 1px;
    --PhoneInputCountryFlag-borderColor: rgba(0,0,0,.5);
    --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,.1);
}